body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background:#f4f7f8;
  color:#333;
  line-height: 1.7;
}

section{
  margin-bottom: 60px;
}

h2{
  margin-bottom: 16px;
  font-size:1.4rem;
  border-left:4px solid #8faea8;
  padding-left:12px;
  margin-bottom:20px;
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
    min-height: 90vh;
    background: url("images/hero.jpg") no-repeat;
    background-size: cover;
    background-position: 0 75%;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
}

.hero-inner {
    position: relative;
    z-index: 1;
    min-height: 90vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: 1200px;
    margin: 0 auto;
    padding: 18vh 8% 0;

    font-family: "Noto Sans JP", sans-serif;
}

.hero-title {
    font-family: "Noto Sans JP", sans-serif;
    font-size: clamp(2.3rem, 5vw, 3.8rem);
    font-weight: 600;
    letter-spacing: 0.08em;
    text-shadow: 0 4px 5px rgba(0,0,0,0.2);
    margin-bottom: 32px;
}

.hero-meta {
    margin-left: 14px;

}


.hero-date {
    font-family: "Noto Sans JP", sans-serif;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    font-weight: 500;
    letter-spacing: 0.1em;
    opacity: 0.85;
    
    
}

.hero-subtitle {
    font-size: clamp(1.0rem, 2vw, 1.5rem);
    letter-spacing: 0.1em;
    opacity: 0.9;
}


/* NAV */
.toc {
    position: sticky;
    top: 12px;
    z-index: 999;
    width: fit-content;
    padding: 10px 12px;

    display: flex;
    gap: 10px;

    background: rgba(255,255,255,.85);
    border-radius: 999px;
    box-shadow: 0 12px 30px rgba(0,0,0,.18);
}

.toc a {
  text-decoration: none;
  color: rgba(0,0,0,0.75);
  font-size: .9rem;
  letter-spacing: .06em;
  padding: 10px 14px;
  border-radius: 999px;
  transition: 0.3s;
}

.toc a.active {
  background: rgba(230, 221, 172, 0.95);
  color: #222;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

html{ scroll-padding-top: 80px; }


/* Day1.Day2 */
.viewpoint-grid{
  display: grid;
  gap: 24px;
}

.view-item img{
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

main{
  padding-bottom: 140px;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 768px){
  .hero{ min-height: 85vh; }
  .hero-inner{ min-height: 85vh; }

}

@media (max-width: 768px){
  .toc{
    position: fixed;
    top: auto; /* ←PC用cssのtop: 12px;を解除*/
    bottom: 14px;/* ← 下に固定 */
    right: 16px;


    flex-direction: column;
    align-items: flex-end;

    width: fit-content;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
  }

  body.scrolled .toc {
    opacity: 1;
    pointer-events: auto;
  }
}


